body {
    font-family: "Helvetica Neue", "Helvetica", "Calibri", "sans";
    font-size: 22px;
}

#container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

section.chat {
  width: 100%;
}

section h1 {
  text-align: center;
  font-size: 64px;
}

ul.messages {
  width: 100%;
  list-style-type: none;
}

li.message {
  width: 100%;
}

span.message-username {
  color: #666;
  width: 15%;
}

span.message-body {
  width: 85%;
  float: right;
}

input.message-input {
  width:100%;
  font-size: 18px;
}