body {
  font-family: "Helvetica", "Arial", "sans"
  font-size: 18px;
}

#container {
  width: 460px;
  margin-left: auto;
  margin-right: auto;
}

section.chat {
  width: 100%;
}

section h1 {
  text-align: center;
  font-size: 48px;
}

ul.messages {
  width: 100%;
  list-style-type: none;
}

li.message {
  width: 100%;
}

span.message-username {
  color: #666;
  margin-right: 5%;
  width: 15%;
}

span.message-body {
  width: 75%;
}

input.message-input {
  width:100%;
  line-height: 32px;
}